#fb-info, #fb-user {
	float: left;
	width: 204px;
}
#fb-user {
	clear: left;
}
	#fb-user a:first-child {
		float: left;
		margin-right: .5em;
	}
	#fb-user img {
		vertical-align: top;
		width: 40px;
	}
	#fb-user iframe {
		background: #262626;
		border: 0;
		height: 21px;
		margin-top: .15em;
		overflow: hidden;
		width: 120px;
	}

#main_footer .widget#facebook {
	width: 410px;
}
#fb-feed a {
	font-size: .85em;
	margin-left: .5em;
}
